.vs/
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.vsidx

*.exe
*.out
*.obj
*.pdb
*.ilk
*.idb

[Dd]ebug/
[Rr]elease/
x64/
x86/
[Oo]bj/
[Bb]uild/

*.vcxproj.user
*.VC.VC.opendb

.DS_Store
Thumbs.db

*.txt
EOF
